<div class="py-5">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-4">
      <div class="flex items-center justify-between">
          <!--Input de busqueda   -->
          

       

          <div class="justify-content-end">
              <button routerLink="add-user" class="inline-flex items-center px-4 py-2 bg-teal-500 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition">New</button>
          </div>



      </div>
      <!--Tabla lista de items   -->
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="w-full divide-y divide-gray-200 table-auto">
            <thead class="bg-teal-500 text-white">
              <tr class="text-left text-xs font-bold  uppercase">
                <td scope="col" class="px-6 py-3">ID</td>
                <td scope="col" class="px-6 py-3">Therapist name</td>
                <td scope="col" class="px-6 py-3">Specialty</td>
                <td scope="col" class="px-6 py-3">User name</td>
                <td scope="col" class="px-6 py-3">Phone</td>
                <td scope="col" class="px-6 py-3">Professional license</td>

                <td scope="col" class="px-6 py-3">Opcions</td>


        
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <tr *ngFor="let item of listUsers.data" class="text-sm font-medium text-gray-900"> 
                
                <td class="px-6 py-4">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-teal-400 text-white">
                    {{item.id}}
                  </span>
                </td>

  
                <td class="px-6 py-4">{{item.name_therapist}}</td>
                <td class="px-6 py-4">{{item.specialty}}</td>
                <td class="px-6 py-4">{{item.user_name}}</td>
                <td class="px-6 py-4">{{item.phone}}</td>
                <td class="px-6 py-4">{{item.professional_license}}</td>

                <td class="text-right">
                  <div *ngIf="!item. confirm">
                    <button class= "btn btn-danger" (click)="item.confirm=true"> Eliminar</button>
                    <button class= "btn btn-warning" (click) ="onEdit(item)">Editar</button>
                  </div>
                  <div *ngIf="item. confirm">
                  <button class= "btn btn-success" (click) ="onDelete (item.id) ">Confirmar</button>
                  <button class= "btn btn-danger " (click) =" item. confirm =false"> Cancelar</button>
                  </div>
                  </td>
              </tr>
            </tbody>
          </table>
      </div>
      </div>
    </div>
</div>


